/* banner section */
.banner{
	background:#FAD000;
}

.carousel-caption {
	padding-bottom: 30px;
	top: 90px;
}
.carousel-caption p{
	font-size:50px;
	font-family: 'big_johnregular';
	line-height: 60px;
	color:#000;
}

.carousel-caption .btn_bg {
    background: url(../images/separetor3.png) no-repeat center center;
    width: 65%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    height: 15px;
    padding-top: 385px;
}
.carousel-caption .btn_bg a {
    position: absolute;
    left: 33%;
    top: 136px;
    background: #fad663;
    border: 2px solid #000;
    border-radius: 15px 15px 15px 15px;
}

/* head title */
.head_title{
    overflow:hidden;
}


/* what we do */
.whatwedo{
	background:#fef9fd;
	padding:80px 0px;
}
.whatwedo .head_title h2{}

.head_title_rigth {
	margin: 40px 0px;
}
.head_title_rigth p{
	font-size:18px;
	font-family: 'open_sanslight';
	color:#000000;
}

.single_whatwedo{
	margin-top: 50px;
}
.single_whatwedo_img{
	margin-bottom:30px;
}
.single_whatwedo_img img{
	width:130px;
	height:100px;
}
.single_whatwedo h3{
	font-size:18px;
	font-family: 'big_johnregular';
}
.single_whatwedo p{
	font-size:18px;
}

/* client said section */
.clientsaid{
    background:#d2eae3;
    padding:80px 0px;
}

.star-checked {
    color: orange;
}

/* new products section */
.newproducts{
	padding:80px 0px;
	overflow:hidden;
}
.main_newproducts_content{
	margin-top:80px;
}
.single_product_column{
	padding:0;
	border:1px solid #ddd;
}
.single_product img{
	width:100%;
}

.btn_bg {
    background: url(../images/separetor3.png) no-repeat center center;
    width: 65%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    height: 15px;
    margin-top: 60px;
}
.btn_bg a{
    position: absolute;
    left: 42%;
    top: -50px;
    background: #fad663;
    border: 2px solid #000;
    border-radius: 15px 15px 15px 15px;
}