/* banner section */
.signup{
    padding: 80px 0px 20px 0px;
    background:#d2eae3;
}

.signup .btn_bg {
    background: url(../images/separetor2.png) no-repeat center center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    height: 15px;
    margin-top: 60px;
}

.signup .btn_bg a{
    position: absolute;
    left: 35%;
    top: -50px;
    background: #fad663;
    border: 2px solid #000;
    border-radius: 15px 15px 15px 15px;
}
